@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/assets/fonts/gt-walsheim/GT-Walsheim-Regular-Trial.woff2') format('woff2'),
       url('/assets/fonts/gt-walsheim/GT-Walsheim-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/assets/fonts/gt-walsheim/GT-Walsheim-Bold-Trial.woff2') format('woff2'),
       url('/assets/fonts/gt-walsheim/GT-Walsheim-Bold-Trial.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless';
  src: url('/assets/fonts/Reckless.otf') format('otf'),
       url('/assets/fonts/Reckless.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --color--black: #000000;
    --color--cyan-bluish-gray: #abb8c3;
    --color--white: #ffffff;
    --color--pale-pink: #f78da7;
    --color--vivid-red: #cf2e2e;
    --color--luminous-vivid-orange: #ff6900;
    --color--luminous-vivid-amber: #fcb900;
    --color--light-green-cyan: #7bdcb5;
    --color--vivid-green-cyan: #00d084;
    --color--pale-cyan-blue: #8ed1fc;
    --color--vivid-cyan-blue: #0693e3;
    --color--vivid-purple: #9b51e0;
    --gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth{
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
    overscroll-behavior: contain;
}
.lenis.lenis-stopped{
  overflow: hidden;
}
.lenis.lenis-smooth iframe{
  pointer-events: none;
}

.fm-reckless{
  font-family: 'Reckless', serif;
  font-weight: 300;
  font-style: italic;
}
.fm-reckless-n{
  font-family: 'Reckless', serif;
  font-weight: 300;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fm-gtw{
  font-family: 'GT-Walsheim', serif;
  font-style: normal !important;
}

.h1 {
  @apply text-4xl leading-[1.24];
}


.h2 {
  @apply text-3xl font-semibold;
}

p {
  @apply text-[1rem] leading-relaxed;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GT-Walsheim', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'GT-Walsheim', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'GT-Walsheim', sans-serif;
  font-weight: 400;
  color: #333;
}
.container{
  @apply mx-auto w-[90%] relative z-[1] ;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  float: right;
  background: #000;
  padding: 6px 9px;
  border-radius: 50%
}

.hamburger:hover {
  opacity: 1
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 20px;
  float: right
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -4px
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  border-radius: 2px;
  position: absolute;
  width: 14px;
  height: 1px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  background-color: #fff
}

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""
}

.hamburger-inner:before {
  opacity: 0
}

.hamburger-inner:before {
  top: -px
}

.hamburger-inner:after {
  bottom: -6px
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: 75ms
}

.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease .12s, opacity 75ms ease
}

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19)
}

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(45deg);
  margin-top: -1px
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease, opacity 75ms ease .12s;
  opacity: 0
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
  transform: rotate(-90deg)
}
.hamburger.is-active{
  background:#fff ;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #000;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }






  .parallaxParent {
    height: 100vh;
    overflow: hidden;
  }
  .parallaxParent > div {
    height: 200%;
    position: relative;
    top: -100%;
    background-repeat: no-repeat;
  }
  .spacer {
    height: 100px;
  }
  .s0 {
    height: 50px;
  }
  .s1 {
    height: 200px;
  }
  .s2 {
    height: 300px;
  }
  .box2 {
    background-color: #2196f3;
    color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
  
  .parallax-container {
    height: 200vh;
    background: #f0f0f0;
  }
  
  .content {
    padding: 50px;
    text-align: center;
    background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
  }
  
  .footer-parallax {
    position: fixed;
    bottom: -50px; /* Initially hidden */
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #2575fc, #6a11cb);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transform: translateY(30%); /* Adjust for parallax */
    will-change: transform;
    transition: transform 0.2s linear;
  }
  
  .parallax-container:hover .footer-parallax {
    transform: translateY(0); /* Reveal on hover */
  }

/*btn*/
.btn{
  @apply rounded-full bg-black px-5 py-2.5 text-center text-sm text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black;
}
/*end btn*/


  /*//anger-link*/

.anger-link {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.anger-link::before,
.anger-link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.anger-link::before {
  /*background-color: #54b3d6;*/
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.anger-link::after {
  content: attr(data-replace);
  height: 100%;
  /*top: 0;*/
  transform-origin: 100% 50%;
  transform: translate3d(0, 200%, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  /*color: #54b3d6;*/
}

.anger-link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.anger-link:hover::after {
  transform: translate3d(0, 0, 0);
}

.anger-link span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.anger-link:hover span {
  transform: translate3d(0, -200%, 0);
}



svg {
  display: block;
  overflow: hidden;
}

/*end anger-link*/